{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        
        {{ content }}
        {% for page in pages("report")|sort_by("title") %}
        <div class="post">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h3>
            <p class="excerpt">{{ page.description }}</p>
        </div>
        {% endfor %}
        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
