@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/scss/base';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&display=swap');


$highlight: rgb(125, 181, 255, 0.199);
$primary-headline-color: rgb(255, 93, 34);
$hover-headline-color: rgb(71, 129, 179);
$base-font-color: rgb(116, 173, 223);
$main-window-bg-color: rgba(28, 34, 54, 0.2);
$navbar-primary-color: rgb(136, 196, 245);
$navbar-hover-color: rgba(255, 118, 68, 0.863);
$navbar-attention-color: rgb(255, 100, 44);
$navbar-bg-color: rgb(14, 23, 32);
$report-bg-color: rgb(18, 38, 61);
$primary-backdrop-bg-color: rgb(19, 45, 63);
$bg-gradient-backup-color: rgb(14, 23, 31);
$bg-gradient: linear-gradient(0deg, rgba(14, 23, 31, 1) 0%, rgb(36, 47, 68) 47%, rgb(35, 60, 89) 97%);
$paper-bg: url("../../../assets/img/papertexdark.webp");

* {
    font-family: 'Roboto', sans-serif;
}


body {
    padding-left: 20%;
    padding-right: 20%;
    background: $bg-gradient-backup-color;
    background: $bg-gradient;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    flex-basis: 100%;
}



.main {
    border-radius: 10px;
    margin: 10px;
    padding: 2em;
    flex-direction: row wrap;
    flex-basis: 100%;
    background-color: $main-window-bg-color;
    min-height: 65vh;
    flex-wrap: wrap;
    overflow: hidden;
    
}

/*header*/

header {
    background-color: $navbar-bg-color;
    width: 100%;
    padding-bottom: 2em;
    box-sizing: border-box;
    padding: 1em;
    height: 250px;


    h1 {
        font-size: 2em;
        color: $navbar-primary-color;
    }

    p {
        color: $primary-headline-color;
    }
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
code,
ol,
pre,
td {
    font-family: 'Open Sans', sans-serif;
    color: $base-font-color;
}

a:link,
a:visited {
    color: $primary-headline-color;
}

a:hover {
    color: $navbar-hover-color;
}

h1 {
    font-family: 'Lobster', cursive;
}

h1,
h3 {
    color: $primary-headline-color;
}

h2 {
    font-size: 1.25em;
    padding-left: 1em;
    padding-top: 1em;
}

/*nav*/
nav {
    align-self: flex-start;
    padding: 1em;
    width: 100%;
    background-color: $navbar-bg-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    a {
        text-decoration: none;
        display: block;
        color: rgb(116, 173, 223);
        font-weight: bold;
        font-size: 1.5em;
    }

    ul li:nth-child(3) {
        padding: 0.3em;
        border-radius: 5px;
        background-color: $primary-backdrop-bg-color;
    }

    a:hover {
        color: $navbar-hover-color;
    }

    .active {
        border-bottom: $primary-headline-color;
        border-width: 0;
        border-bottom-width: 0.2em;
        border-style: solid;
    }

    .active:hover {
        border-bottom: $navbar-hover-color;
        border-width: 0;
        border-bottom-width: 0.2em;
        border-style: solid;
    }

    ul li:nth-child(3):hover {
        background-color: $highlight;
        color: $navbar-hover-color;
    }

    ul li:nth-child(3) .active {
        color: $primary-headline-color;
        border-bottom-width: 0;
    }

    div .logo {
        width: 200px;
        float: left;
        margin-right: -100px;
    }
    
    .logo img {
        max-width: 75px;
    }
}

p {
    font-size: 0.9em;
    width: calc(100%/1.1);
    color: $base-font-color;
}

section a,
footer a {
    text-decoration: none;
    color: $navbar-primary-color;
}

.embed-container {
    margin-top: 100px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

img {    
    margin-top: 0.5em;
    border-radius: 1em;
}

img:not([alt]) {
    outline: 4px rgb(250, 0, 0) dashed !important;
}

/*table*/
table {
    border-collapse: collapse;
    margin-left: 1em;
}

tr {
    height: 2em;
}

th {
    border-right: 0.25em solid $report-bg-color; 
}

td {
    border-right: 0.1em solid $bg-gradient-backup-color;
}

td:last-child {
    border-bottom: 0.1em solid $bg-gradient-backup-color;
}

tr:nth-child(2n+1) {
    background-color: $bg-gradient-backup-color;
}

tr:first-child {
    border-top: 0.25em solid $navbar-primary-color;
    color: $primary-headline-color;    
}

/*form*/
form input:nth-child(1) {
    margin: 0.5em;
    background-color: $primary-backdrop-bg-color;
    padding: 0.5em 1.5em;
    text-align: center;
    color: $navbar-primary-color;
    border: 0.2em solid $primary-headline-color;
    transition-duration: 0.4s;
}

form input:nth-child(1):hover {
    background-color: $primary-headline-color;
    color: $primary-backdrop-bg-color;
}

/*footer*/
footer {
    background-color: $navbar-bg-color;
    padding: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    align-self: flex-end;
    flex-basis: 100%;


    i {
        font-size: 1.5em;
        gap: 0.1em;
        margin-left: 1em;
        margin-right: 1em;  
    }
}

/*media queries*/
@media(max-width: 839px) {
    body {
        padding-left: 0%;
        padding-right: 0%;
    }

    .main {
        padding: 0.25em;
        margin: 0;

        p {
            height: 300px;
        }

        .me {
            width: 100%;
            max-width: 200px;
        }
    }
 
    nav ul {
        gap: 2.5em;
    }

    table {
        margin-left: 0;
    }

    p,
    h2,
    h3,
    table {
        font-size: 1.25em;
    }

    footer {
        height: 100px;
        padding: 0.25em;
        font-size: 0.9em;
    }

    footer i {
        font-size: 2em;
        float: right;
        gap: 0.5em;
        margin-right: 1em;
    }
    
}

@media(min-width:840px) and (max-width: 1580px) {
    body {
        padding-left: 6%;
        padding-right: 6%;
    }

    nav {
        ul {
            gap: 0.25em;
        }

        a {
            font-size: 1.25em;
        }

    } 
}
