.landingpage {
    .tech-box {
        padding-bottom: 15px;
    }
    .colors {
        grid-area: HTML;
    }

    .principles {
        grid-area: GIT;
    }

    .load {
        grid-area: SQLITE;
    }
}
