.landingpage {
    .tech-box {
        padding-bottom: 15px;
    }

    .colors {
        grid-area: HTML;
    }

    .principles {
        grid-area: GIT;
    }

    .load {
        grid-area: SQLITE;
    }
}

.lightspeed-data-container {
    width: 100%;
    min-width: 80%;
    margin-right: 10px;
    min-height: 900px;
}
